@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 95406-6452<br />
    <abbr title="lucrecio.lo.santos@gmail.com">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="lucrecio.lo.santos@gmail.com">lucrecio.lo.santos@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="lucrecio.lo.santos@gmail.com>Lucrecio.lo.santos@gmail.com  </a>
</address>